<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/school_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   <mapping class="com.school.model.School" />
   <mapping class="com.school.model.ClassInfo" />
   <mapping class="com.school.model.TeachingApproachType" />
   <mapping class="com.school.model.ClassSubjects" />
   <mapping class="com.school.model.Subject" />
   <mapping class="com.school.model.SchoolTeacher" />
   <mapping class="com.school.model.TeacherStaffInfo" />
   <mapping class="com.school.model.UserRegistrationInfo" />
   <mapping class="com.school.model.StudentPrevSchoolDetail" />
   <mapping class="com.school.model.StudentPersonalInfo" />
   <mapping class="com.school.model.StudentProfile" />
   <mapping class="com.school.model.TeacherHomework" />
   <mapping class="com.school.model.TimeTable" />
   <mapping class="com.school.model.ClassSection" />
   <mapping class="com.school.model.StandardType" />
   <mapping class="com.school.model.TeacherHomeworkRemarks" />
   <mapping class="com.school.model.StudentPrevSchoolDetail" />
   <mapping class="com.school.model.StudentSchoolInfo" />
   <mapping class="com.school.model.TeacherAttendance" />
   <mapping class="com.school.model.TeacherSubject" />
   <mapping class="com.school.model.TeacherClass" />
   <mapping class="com.school.model.TeacherClassSkill" />
   <mapping class="com.school.model.TeacherEducationInfo" />
   <mapping class="com.school.model.TeacherEducationInfo" />
   <mapping class="com.school.model.TeacherExperience" />
   <mapping class="com.school.model.TeacherTimeTable" />
   <mapping class="com.school.model.ParentInfo" />
   <mapping class="com.school.model.Task" />
   <mapping class="com.school.model.UserRole" />
               
        
    </session-factory>
    
</hibernate-configuration>
