<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/school_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.search.default.directory_provider">filesystem</property>
        <property name="hibernate.search.default.indexBase">/test/lucene/indexes</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="StudentClass" />
        <mapping class="LeaveType" />
        <mapping class="TeacherSubjectSkill" />
        <mapping class="TeacherAttendance" />
        <mapping class="SchoolCategoryType" />
        <mapping class="TeachingApproachType" />
        <mapping class="StudentPrevSchoolDetail" />
        <mapping class="UserLeave" />
        <mapping class="UserMessageSettings" />
        <mapping class="TimeTable" />
        <mapping class="BusDelayDetails" />
        <mapping class="ClassSubjects" />
        <mapping class="MediumType" />
        <mapping class="ReviewRatingCategory" />
        <mapping class="SecondaryRole" />
        <mapping class="TeacherClassSkill" />
        <mapping class="ParentSchoolReviewRating" />
        <mapping class="TeacherHomeworkRemarks" />
        <mapping class="ClassSection" />
        <mapping class="NotificationType" />
        <mapping class="Country" />
        <mapping class="TeacherSubject" />
        <mapping class="OccupationType" />
        <mapping class="FacultyType" />
        <mapping class="PaymentMode" />
        <mapping class="SchoolBoard" />
        <mapping class="EducationType" />
        <mapping class="StudentPersonalInfo" />
        <mapping class="StudentSchoolFeeInfo" />
        <mapping class="ContactInfoInternal" />
        <mapping class="SchoolTimeline" />
        <mapping class="Notification" />
        <mapping class="ExamType" />
        <mapping class="RoleLeaveTracking" />
        <mapping class="TeacherEducationInfo" />
        <mapping class="BusInfo" />
        <mapping class="AreaUnit" />
        <mapping class="SchoolMedium" />
        <mapping class="TeacherClass" />
        <mapping class="TeacherTimeTable" />
        <mapping class="Tehsil" />
        <mapping class="StudentSchoolInfo" />
        <mapping class="StandardType" />
        <mapping class="SchoolInfo" />
        <mapping class="TeacherHomework" />
        <mapping class="Event" />
        <mapping class="SalesExecutive" />
        <mapping class="ParentSchoolReviewDesc" />
        <mapping class="Task" />
        <mapping class="SchoolClassificationType" />
        <mapping class="ClassAccessories" />
        <mapping class="TeacherStaffInfo" />
        <mapping class="UserRating" />
        <mapping class="CampusInfo" />
        <mapping class="SchoolExamSubject" />
        <mapping class="BoardType" />
        <mapping class="SchoolRating" />
        <mapping class="Route" />
        <mapping class="Locality" />
        <mapping class="SchoolTimelineMilestone" />
        <mapping class="BillingCycleType" />
        <mapping class="SchoolTeacher" />
        <mapping class="BusRouteStop" />
        <mapping class="City" />
        <mapping class="DataCollector" />
        <mapping class="UserNotificationSettings" />
        <mapping class="SchoolEducationAchievement" />
        <mapping class="ParentInfo" />
        <mapping class="CertificateType" />
        <mapping class="Role" />
        <mapping class="Adminuser" />
        <mapping class="SchoolPaymentMode" />
        <mapping class="State" />
        <mapping class="UserLeaveBalance" />
        <mapping class="SchoolEmergencyContact" />
        <mapping class="StudentMarksReport" />
        <mapping class="District" />
        <mapping class="SchoolExam" />
        <mapping class="SchoolFeeDetail" />
        <mapping class="StudentAttendance" />
        <mapping class="AttendanceInfo" />
        <mapping class="FeeType" />
        <mapping class="Message" />
        <mapping class="SchoolBus" />
        <mapping class="SalesInfo" />
        <mapping class="SchoolBankAccountDetails" />
        <mapping class="UserRegistrationInfo" />
        <mapping class="Accessories" />
        <mapping class="School" />
        <mapping class="RatingCategoryType" />
        <mapping class="BusDriver" />
        <mapping class="SchoolCategoryOptionFeature" />
        <mapping class="ContactInfoExternal" />
        <mapping class="TeacherExperience" />
        <mapping class="UserBus" />
        <mapping class="Subject" />
        <mapping class="StudentProfile" />
        <mapping class="BusRoute" />
        <mapping class="SchoolType" />
        <mapping class="StudentParent" />
        <mapping class="UserRole" />
        <mapping class="BusStop" />
        <mapping class="ClassInfo" />
    </session-factory>
</hibernate-configuration>
